<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://iptv.player.app"
        version="1.0.0"
        viewmodes="maximized">
    <access origin="*" subdomains="true"/>
    <tizen:application id="iPlayerTV0.IPTVPlayer"
                       package="iPlayerTV0"
                       required_version="3.0"/>
    <icon src="icon.png"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal"/>
    <name>IPTVPlayer</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/network.public"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/avplay"/>
    <tizen:profile name="tv-samsung"/>
</widget>
